/* *--------desctop----- */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .header-container {
    flex-wrap: nowrap;
  }

  .header-logo {
    flex-wrap: nowrap;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-address {
    margin-left: auto;
  }

  .header-contact {
    display: flex;
    gap: 40px;
  }

  .header-item {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-headeritem, #2e2f42);
    transition: color var(--transition);
  }

  .header-item:is(:hover, :focus) {
    color: var(--button-background-hover);
  }

  .activ-page {
    color: var(--bg-color-social-icons);
  }

  .activ-page::after {
    position: absolute;
    left: 0;
    bottom: -26px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color var(--transition);
  }

  .header-mail:is(:hover, :focus) {
    color: #404bbf;
  }

  .visionhero {
    background-image: var(--bg-gradient), url(../images/hero-bg-optim.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .visionhero {
      background-image: var(--bg-gradient), url(../images/hero-bg-optim-2x.jpg);
    }
  }

  .visionhero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .vision-titl {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .vision-btn {
    margin: 48px auto 0;
  }

  .visionstategy-icon {
    display: flex;
    background-color: #f4f4fd;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
  }

  .visionstrategy-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .mobile-menu-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header-container {
    flex-wrap: nowrap;
  }

  .titl-h-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits {
    display: block;
  }

  .benefits-titl {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-headings, #2e2f42);
  }

  .benefits-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
  }

  .benefits-item {
    border: 1px solid var(--color-card-border, #e7e9fc);
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 1128px;
  }

  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-direction: row;
    gap: 0;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    max-width: 264px;
    margin-right: 120px;
  }

  .footer-text {
    text-align: start;
  }

  .footer-logo-web {
    text-align: start;
  }

  .footer-cocial {
    display: flex;
    flex-direction: column;
    max-width: 208px;
    margin-right: 80px;
  }

  .footer-cocial-media {
    margin-right: auto;
  }

  .footer-subscribe {
    display: flex;
    flex-direction: column;

    margin-left: auto;
  }

  .subscribe-input {
    width: 100%;
  }

  .subscribe-text {
    margin-right: auto;
  }

  .footer-buton-subscribe-wrap {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .modal-window {
    padding: 72px 24px 24px;
    width: 408px;
  }

  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .filter-btn {
    padding: 12px 24px;
  }

  .filter-list {
    justify-content: center;
    margin-bottom: 0;
    max-width: none;
  }

  .category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 72px;
    row-gap: 48px;
    column-gap: 24px;
  }

  .category-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/*---------Tablet----*/
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-address {
    margin-left: auto;
  }

  .header-item {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-headeritem, #2e2f42);
    transition: color var(--transition);
  }

  .header-item:is(:hover, :focus) {
    color: var(--text-color-focus-hover, #404bbf);
  }

  .activ-page {
    color: var(--bg-color-social-icons);
  }

  .activ-page::after {
    position: absolute;
    left: 0;
    bottom: -26px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .header-container {
    position: relative;
    flex-wrap: nowrap;
  }

  .header-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: -50%;
    right: 16px;
  }

  .header-mail {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color var(--transition);
  }
  .header-contact-blok {
    max-height: 12px;
  }
  .header-mail:is(:hover, :focus) {
    color: var(--text-color-focus-hover, #404bbf);
  }

  .visionhero {
    background-image: var(--bg-gradient), url(../images/hero-bg-optim.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .visionhero {
      background-image: var(--bg-gradient), url(../images/hero-bg-optim-2x.jpg);
    }
  }

  .vision-titl {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .visionstrategy-titl {
    text-align: start;
  }

  .team-item {
    margin-left: 0;
    margin-right: 0;
  }

  .mobile-menu-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .vision-btn {
    margin: 36px auto 0;
  }

  .visionstrategy-list {
    display: flex;
    row-gap: 72px;
    column-gap: 24px;
    flex-direction: row;
  }
  .team-section {
    padding-left: 108px;
    padding-right: 108px;
  }
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

  .customers-list {
    gap: 72px 24px;
    max-width: 552px;
    margin-left: auto;
    margin-right: auto;
  }

  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .footer {
    padding: 96px 15px 96px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    column-gap: 24px;
    justify-content: center;
    max-width: 552px;
  }

  .footer-cocial {
    max-width: 208px;
    margin-right: 0;
  }

  .footer-cocial-media {
    text-align: start;
  }

  .footer-logo {
    text-align: start;
    max-width: 264px;
    margin-left: 0;
    margin-right: auto;
  }

  .footer-subscribe {
    max-width: 453px;
    margin-right: auto;
  }

  .subscribe-text {
    text-align: start;
  }

  .footer-buton-subscribe-wrap {
    flex-wrap: nowrap;
  }

  .portfolio-section {
    padding: 64px 0 96px 0;
  }

  .modal-window {
    padding: 72px 24px 24px;
    width: 408px;
  }
  .filter-btn {
    padding: 12px 24px;
  }

  .filter-list {
    justify-content: center;
    margin-bottom: 64px;
    max-width: none;
  }

  .category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .category-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/*--------mobile < 428px----*/
@media screen and (max-width: 428px) {
  .visionhero {
    background-image: var(--bg-gradient),
      url(../images/hero-bg-optim-mobile.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .visionhero {
      background-image: var(--bg-gradient),
        url(../images/hero-bg-optim-mobile-2x.jpg);
    }
  }

  .menu-tel {
    font-size: 20px;
    color: var(--bg-color-social-icons);
  }

  .menu-soc-list {
    gap: 20px;
  }

  .filter-list {
    column-gap: 10px;
  }

  .filter-btn {
    padding: 12px;
  }
}
