*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-headings: #2e2f42;
  --button-background-color: #4d5ae5;
  --button-background-hover: #404bbf;
  --text-color-focus-hover: #404bbf;
  --filter-btn-border: #f4f4fd;
  --color-logo-web: #4d5ae5;
  --color-logo-studio: #2e2f42;
  --color-headeritem: #2e2f42;
  --background-color-vision: #2e2f42;
  --color-text: #434455;
  --color-team-name: #ffffff;
  --color-text-footer: #f4f4fd;
  --color-card-border: #e7e9fc;
  --footer-logo-studio: #f4f4fd;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --bg-color-social-icons: #4d5ae5;
  --bg-color-social-icons-hover: #404bbf;
  --bg-footer-social-icons-hover: #31d0aa;
  --customers-color-icon: #8e8f99;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Font templates */
/* Logo styles */
.styles-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Level header h3*/

.titl-h-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-headings, #2e2f42);
}

/* Descriptive texts */
.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text, #434455);
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 23px;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo-web {
  margin-right: 76px;
  color: var(--color-logo-web, #4d5ae5);
}

.header-logo-studio {
  color: var(--color-logo-studio, #2e2f42);
  margin: 0;
}

.header-list {
  display: none;
  flex-wrap: wrap;
}

.activ-page {
  color: var(--bg-color-social-icons);
}

.header-contact {
  display: none;
}

/* --Mobile menu-- */

.mobile-menu-button {
  border: none;
  background-color: white;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}

.mobile-menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  padding-left: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  transition: opacity var(--transition), visibility var(--transition),
    transform var(--transition);
  z-index: 2;
  opacity: 1;
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-close-button {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.menu-close-button:is(:hover, :focus) {
  background-color: var(--button-background-hover, #404bbf);
  border: 0;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
}

.menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #434455;
  transition: color var(--transition);
}

.menu-item:is(:hover, :focus) {
  color: var(--text-color-focus-hover, #404bbf);
}

.menu-address {
  margin-top: auto;
  margin-right: auto;
}

.menu-contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--bg-color-social-icons);
  transition: color var(--transition);
}

.menu-tel:is(:hover, :focus) {
  color: var(--text-color-focus-hover, #404bbf);
}

.menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color var(--transition);
}

.menu-mail:is(:hover, :focus) {
  color: var(--text-color-focus-hover, #404bbf);
}

.menu-soc-list {
  display: flex;
  margin-top: 48px;
  margin-right: auto;
  gap: 56px;
}

/* Hero */

.visionhero {
  background-color: var(--background-color-vision, #2e2f42);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: var(--bg-gradient), url(../images/hero-bg-optim-tablet.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .visionhero {
    background-image: var(--bg-gradient),
      url(../images/hero-bg-optim-tablet-2x.jpg);
  }
}

.vision-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin: auto;
}

.vision-btn {
  font-family: "Roboto", sans-serif;
  display: block;
  padding: 16px 32px;
  margin: 72px auto 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: var(--button-background-color, #4d5ae5);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  transition: background-color var(--transition);
}

.vision-btn:is(:hover, :focus) {
  background-color: var(--button-background-hover, #404bbf);
}

/* Short Description */

.visionstrategy-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 72px;
}

.visionstrategy-item {
  flex-basis: calc((100% - 24px) / 2);
}

.visionstategy-icon {
  display: none;
}

.visionstrategy-titl {
  margin-bottom: 8px;
  text-align: center;
}

.visionstrategy-text {
  max-width: auto;
}

/* What are we doing? */

.benefits {
  display: none;
}

/* Our team */

.team {
  background-color: #f4f4fd;
}

.team-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings, #2e2f42);
  margin: auto;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-card-border, #e7e9fc);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-team-name {
  background-color: var(--color-team-name, #ffffff);
  padding: 32px 0;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text, #434455);
  margin-top: 8px;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--bg-color-social-icons, #4d5ae5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--bg-color-social-icons-hover, #f4f4fd);
}

.team-soc-icon {
  fill: #f4f4fd;
}

/* Customers */

.customers-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  max-width: 396px;
}

.customers-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-item:hover .customs-icon {
  fill: #404bbf;
}

.customers-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--customers-color-icon, #8e8f99);
  transition: border-color var(--transition);
}

.customers-icon-link:is(:hover, :focus) {
  border-color: #404bbf;
}

.customs-icon {
  fill: currentColor;
  transition: fill var(--transition);
}

/* Footer */

.footer {
  background-color: var(--background-color-vision, #2e2f42);
}

.footer-container {
  display: flex;
  flex-direction: column;

  gap: 72px;
  align-items: center;
}

.footer-logo {
  width: 264px;
  text-align: center;
}

.footer-logo-web {
  color: var(--color-logo-web, #4d5ae5);
}

.footer-logo-studio {
  color: var(--footer-logo-studio, #f4f4fd);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-footer, #f4f4fd);
  margin-top: 16px;
}

.footer-cocial {
  text-align: center;
}

.footer-cocial-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-team-name, #ffffff);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--bg-color-social-icons, #4d5ae5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.footer-soc-link:is(:hover, :focus) {
  background-color: var(--bg-footer-social-icons-hover, #31d0aa);
}

.footer-soc-icon {
  fill: var(--color-text-footer, #f4f4fd);
}

.footer-subscribe {
  text-align: center;
}

.subscribe-text {
  font-family: "Roboto";
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-team-name, #ffffff);
  margin-bottom: 16px;
}

.footer-buton-subscribe-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.button-subscribe {
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  justify-items: center;
  cursor: pointer;
  border: 0;
  gap: 16px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-team-name, #ffffff);
  background: var(--bg-color-social-icons, #4d5ae5);
  border-radius: 4px;
  transition: background-color var(--transition);
}

.button-subscribe:is(:hover, :focus) {
  background-color: var(--button-background-hover, #404bbf);
}

.subscribe-input {
  padding-left: 16px;
  width: 100%;
  height: 40px;
  background: var(--background-color-vision, #2e2f42);
  color: var(--color-team-name, #ffffff);
  border: 1px solid var(--color-team-name, #ffffff);
  border-radius: 4px;
}

/**-------------Сторінка портфоліо--------------*/

.portfolio-section {
  padding: 48px 16px;
}

.filter-list {
  /* display: flex;
  justify-content: center;
  gap: 24px; */
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;
  justify-content: start;
  margin-bottom: 48px;
  max-width: 270px;
}

.filter-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(--filter-btn-border, #f4f4fd);
  cursor: pointer;
  border: 1px solid var(--color-card-border, #e7e9fc);
  border-radius: 4px;
  padding: 8px 16px;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}

.filter-btn:is(:hover, :focus) {
  color: #ffffff;
  background-color: var(--button-background-color, #404bbf);
  border-color: var(--button-background-color, #404bbf);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.category-item-photo {
  display: block;
  transition: box-shadow var(--transition);
}

.category-item-photo:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-category {
  position: relative;
  overflow: hidden;
}

.overlay-category-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0 32px;

  transform: translate(0, 100%);
  transition: transform var(--transition);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--bg-color-social-icons, #4d5ae5);
}

.category-item-photo:is(:hover, :focus) .overlay-category-text {
  transform: translate(0, 0);
}

.category-titl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headings, #2e2f42);
  margin: auto;

  text-align: left;
}

.category-text {
  margin: auto;
  margin-top: 8px;
  text-align: left;
}

.portfolio-titl-img {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
  border: 1px solid var(--color-card-border, #e7e9fc);
  border-top: none;
}

/* Modal Window */

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition),
    transform var(--transition);
}

.modal-box.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  min-height: 586px;
  max-width: 392px;
  overflow: scroll;

  padding: 72px 16px 24px 16px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
}

.is-hidden .modal-window {
  transform: scale(-0.2);
}

.modal-button {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition), fill var(--transition);
}

.modal-button:is(:hover, :focus) {
  background-color: var(--button-background-hover, #404bbf);
  fill: white;
}

.modal-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  text-align: center;
}

.modal-form-btn {
  width: 169px;
  padding: 16px 0 16px 0;
  margin-left: 95px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: var(--button-background-color, #4d5ae5);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  transition: background-color var(--transition);
}

.modal-form-btn:is(:hover, :focus) {
  background-color: var(--button-background-hover, #404bbf);
}

.modal-contact {
  margin-bottom: 8px;
  height: 58px;
}

.modal-label {
  display: block;
  position: relative;
  margin-bottom: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-icon-wrap {
  outline: transparent;
  position: relative;
  transition: border var(--transition), fill var(--transition);
}

.modal-icon-wrap:is(:hover, :focus-within) .line {
  opacity: 1;
}

.modal-icon-wrap:is(:hover, :focus-within) .modal-input {
  border: 1px solid var(--bg-color-social-icons, #4d5ae5);
  border-radius: 4px;
}
.modal-icon-wrap:is(:hover, :focus-within) .modal-icon {
  fill: var(--bg-color-social-icons, #4d5ae5);
}

.modal-icon-wrap:is(:hover, :focus-within) .modal-icon {
  fill: var(--bg-color-social-icons, #4d5ae5);
}

.modal-input {
  outline: transparent;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 0;
  padding-left: 40px;
  transition: border var(--transition);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  height: 24px;
  width: 18px;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.line {
  display: block;
  position: absolute;
  top: 50%;
  left: 38px;
  transform: translateY(-50%);

  content: "";
  display: block;

  width: 0;
  height: 18px;
  border: 1.25px solid var(--background-color-vision, #2e2f42);
  opacity: 0;
  transition: border var(--transition);
}

.modal-contact-comment {
  margin-bottom: 16px;
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.modal-textarea {
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
  width: 360px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border var(--transition);
}

.modal-textarea:is(:hover, :focus) {
  outline: none;
  fill: var(--bg-color-social-icons, #4d5ae5);
  border: 1px solid var(--bg-color-social-icons, #4d5ae5);
  border-radius: 4px;
}

.modal-accpet-wrap {
  margin-bottom: 16px;
  display: flex;
}

/* .modal-accept-input {
} */

.modal-accept-label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  fill: transparent;
}

.modal-accept-label span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
}

.modal-accept-input:checked + .modal-accept-label span {
  background: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 2px;
}

.modal-accept {
  margin-left: 7px;
}
